.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.main-container {
  width: 1480px;
  height: 3899px;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
}

#imagesequence{
  position: fixed;
  left: 460px;
}
#imagesequence img {
  width: 60px;
  height: 84px;
}